---
title: An about page
description: description
layout: layout
ogp:
  og:
    type: profile
  profile:
    first_name: Apply
    last_name:  NUMA
    username:   nedzen
    gender:     none
alternate: true
---

- content_for :main do
  main.about role='main' itemscope=true itemtype="http://data-vocabulary.org/Person"
    
    / .banner
      / = image_tag 'x.gif', :alt=> 'test'
    
    header
      h1 ///
      p.meta = alt_link
    
    markdown:
      /////
