---
title: "The FAQ"
description: "Freqvently asked questions"
date: 2015-11-05 12:47
tags: Faq, important, startups
public: true
alternate: false
ogp:
  og:
    image:
      '': http://apply.numa.co/images/cover.jpg
      type: image/png
      width: 992
      height: 525
---
.content.clearfix
	.col-md-push-1.col-sm-10.toppad
		markdown:
			#FAQ Acceleration program

			###What does NUMA provide? 
			
			In exchange for a 5% equity stake, each start-up participating in the 4-month program will benefit from:
			
			- **Weekly one-to-one meetings** with an Entrepreneur in Residence
			- Open access to **150 experienced** mentors, entrepreneurs and industry experts
			- **Indefinite access to NUMA’s workshops**, tutorials and resources
			- PR exposure through NUMA’s corporate events and communication materials
			- **Connections to investors** through the Demo day and other investor meet-ups
			- **Qualified introductions** to our corporate partners: BNP Paribas, Cisco, Google for Entrepreneurs, Orange, l’Atelier BNP Paribas, SNCF and Atalanta network
			- Introductions to **NUMA’s international network** of alumni, partnering accelerators and foreign offices (currently India, Russia and Morocco)
			- 4-month free office space for up to 3 people
			- More than 70 perks including free consultations with partnering accounting and law firms

			The face value of these services amounts to **approximately 50k€ per start-up.**

			In addition to these acceleration services, NUMA provides a financial support of **25,000€** to start-ups when they join the program.

			####What are the most famous start-ups that graduated from NUMA’s acceleration program?

			We’ve accelerated a number of great businesses since starting so it’s hard to choose! Some of our renowned start-ups include Mesagraph, Sketchfab, DocTrackr, Bankin’, Zéro-Gâchis, Qunb, Artips, Lima, Agriconomie, Trip’n’drive, Inifinit, Augment, Julie Desk, Soundsgood and Deepomatic.
			 
			####What kind of startups are you going to choose?

			NUMA’s acceleration program is dedicated to early stage start-ups at the seed or early-growth stage. The program doesn’t have any specific industrial focus. Accelerated start-ups operate in a wide range of sectors which provides us with a wealth of industrial insights. 

			####We feel we’re more advanced than other start-ups. Will we still get something out of the program?

			We help early stage startups all along their journey to KPIs that are fundable by VC investors. Whether they are in the product design phase, market testing their product, growing their client or use base or even looking for VC funding. A number of startups we accelerate have a fully-developed product or generate revenues when they join the program. We work with them on their go-to-market strategy, business model, provide qualified introductions to corporates in our network or advise them on their funding strategy.

			No matter where you’re starting from, you should extract significant value from the program.

			####We’ve been accepted into a parisian incubator at the same time as NUMA’s program. Do we have to give up this opportunity or do you accept teams who work from another location?

			If your project needs access to specific facilities (Fab Lab..), we completely understand that you’d need to work from other places. However, to make the most of the opportunities the program can provide you, we strongly recommend to work from NUMA’s offices. As a minimum, we require you to be available to attend a few key sessions during the week. Those include monday morning’s scrum, weekly meetings with your EiR and mentors and speed datings with our corporate partners’ teams.

			####Do I have to be in Paris during the entire acceleration program?

			Yes, we require you to be in Paris. Much of the program’s value hinges on your presence in town to attend events organised for you (scrums, coaching sessions, speed-dating with corporates…). Being physically close to NUMA will also allow you to leverage all the informal opportunities with our mentors, alumni, corporate partners, angel or VC funds which visit NUMA from time to time. 
			Season 8 will start mid February 2016 and finish end of June 2016.

			####I’m not French; can you help with Visa issues?

			Sorry, visa procedures are outside our area of expertise ! 
			However we can introduce you to immigration agents previous start-ups have been working with or simply guide you to the relevant public institutions. 
			If anyone on your team requires a visa for their 4-month stay in Paris you should start your visa application procedures as soon as your participation is confirmed. 

			####What is the Demo day?

			The Demo Day is the last event of the acceleration program. You’ll be provided with the opportunity to present your start-up to a large panel of investors, corporates and journalists. Our last demo-day was hosted salle Gaveau and gathered 500 influential professionals, including 150 angel or VC investors. 

			####Does my company need to be incorporated before joining the program?

			No, your company doesn’t need to be incorporated to join NUMA. This won’t influence in any way your application. Your company’s incorporation can be done at any point in time during the first 2 months of the program. Partnering law firms will be able to assist you with the paperwork. 

			However please note that NUMA’s 25.000€ can’t be provided until your start-up is legally set-up.

			####Who are the mentors ?

			NUMA works with a wide network of 150 mentors with complementary profiles to ensure accelerated start-ups have access at all times to all the expertise their project needs. Those mentors are either web entrepreneurs, industrial experts or specialists from one of those areas where educated advice does makes a huge difference, be it, product design, UX, marketing, funding or HR. 
			During the first part of the program, you’ll meet with a lot of them to help you identify those mentors you both need and want to work with. Whilst some of them are seasoned and recognized professionals (Ludovic Le Moan founder of Sigfox, Antoine Brenner founder of Gymglish, Cédric O'Neill founder of 1001 Pharmacies), name dropping doesn’t make sense. The most important thing is that NUMA is consistently looking for experienced people in different fields with a selective approach. And the match is up to you !

			####What is a technical partner?

			We have +70 offers and promotions from a variety of partnering startups and corporates. Ranging from free pictures with fotolia, cloud computing services offered by AWS Amazon, free access to recruitment platform... you name it ! All of our startups agree : those offer save them both valuable time and money.

			###Selection process

			####How the selection is done?:

			The selection process consists of three steps starting from your F6S application. Only complete applications are evaluated. Applications are reviewed and scored by 3 evaluators. The score your project receives reflects various key factor of success including your team, experience, market and product. Depending on your score, you may be invited to participate to one-to-one interviews in the semi-finals, then finals. 
			We are currently selecting 15 to 20 startups for this season, depending on the quality of applications we receive. 


			###Dates

			**Application period**

			6th Nov 2015 - 15th Dec 2015
			You have one month to fill in the application form on F6S, we don't start the evaluation process until applications are closed.

			**Semi-finals**

			5th-9th January 2016
			During the semi-finals you'll be invited to pitch in front of a jury of experts eager to know more on your project and your team. The pitch should last no more than 5 minutes followed by a 10-minute Q&A session. 
			Obviously we’d much prefer meeting you in person at NUMA Paris. However should you not be available to attend in person, we can arrange a video-conference. Keep in mind that both connection problems and sound quality can end up impacting the presentation.

			Results are usually communicated within three days. 

			**Formal agreement**

			If you've made it through the semi-finals, along with our sincere congratulations you'll receive an agreement detailing the program's conditions and a bunch of legal documents regarding our future partnership. You'll need to confirm that you accept those terms and conditions moving on to the finals.

			**Finals**

			18th-19th January 2016
			During the finals the jury will dig a bit deeper, you'll have 10 minutes to talk about your startup and 15 minutes for the Q&A.
			We usually select between 12 and 22 startups in this last phase, the results are delivered within a couple of days.

			**Kickoff: Mid february**
			**Demo day : June**

			####I’m a single founder. Can I still get accepted into NUMA, or do you only look for teams?

			Although the selection process isn’t narrowed to that single criteria, the team plays an important role in our evaluation. NUMA is looking for great teams with talented founders who have, or can attract, the core skills their businesses will need to be successful. 

			Finding the right cofounder can take a while and we don't want you to spend the short time you have with us recruiting or looking for a partner. Remember, our job is to accelerate your business and we cannot do it unless the basic components are in place.
			We've seen too many well-meaning entrepreneurs with great potential either completely stuck with their project because no one could execute on decisions or burned out from carrying too much responsibility on their own.

			If you're solo, take this as your first challenge: convince someone that you're an excellent business partner and that your project has great potential. If you can't do that, how will you persuade your customers? If you’re not ready yet, consider taking some time to strengthen your founding team and apply for the following season. NUMA won’t disappear and there will be another chance. 

			####I’m concerned that if I apply, you won’t protect my intellectual property. Should I be worried about this?

			No you shouldn’t. NUMA is committed to protecting the confidentiality of the applications it receives. Rest assured, we have no interest in sharing your application with non-evaluating parties. 

			####Do we need to write a business plan?

			No, you don’t have to write a business plan. All you have to do is to complete the F6S application form. You’ll have to fill out information about your business, the team, the market…
			
			###Agreement with NUMA

			####How much does the acceleration program cost?

			The acceleration program is free and provided to you in exchange for a 5% equity stake in your company. It includes mentoring, access for life to our workshops and tutorials, office space for up to 3 people, access to our events and a financial support of 25.000€. Please refer to apply.numa.co for a full list of the program’s benefits.

			####Do you take a 5% equity to all start-ups regardless of their valuation?

			Yes. The terms of our NUMA’s investment and support are standard and apply to all participating start-ups.

			####What are the terms of NUMA’s financial support?

			NUMA’s financial support is provided by way of shareholder loan. This financial support:

			- Interest free ;
			- Non recourse to the founders in case of failure ;
			- Non-reimbursable for an initial period of 18 months ;
			- Convertible in shares in context of a capital increase if both parties wish to do so ; OR
			- Reimbursable over 18 months after the initial 18 months.

			####How does NUMA take 5% in the start-ups accelerated?

			NUMA acquires its equity stake from the founders at the shares’ nominal value. 

			####Why acquiring shares and a shareholder loan and not invest through a traditional capital increase?

			The mechanics of the share acquisition and shareholder loan, avoids tedious and costly administrative procedures required under French corporate law : 

			- A standard capital increase typically costs a minimum of 2.000€ in legal fees and registration procedures ;
			- Evaluating the program, which is part of our investment in your company, would require an external valuation intervention of an independent expert (“Commissaire aux apports”) which would cost an additional 5.000€.

			Considering NUMA’s 25.000€ financial support, this would significantly dilute the impact our financial support may have on your business.

			Less importantly acquiring shares, as opposed to a standard capital increase, also avoids creating any valuation reference for your business which can create significant debate.

			####Do I have to accept NUMA’s financial support?

			No, obviously you are free not to take NUMA’s financial support. This money is here to help you get things started. If you believe that your start-ups doesn’t need it, by all means don’t use it.


			####My company is based in the US. Can NUMA invest through a traditional capital increase?

			Unfortunately not. We have to provide fair and equal investment terms to all of the start-ups it accelerates.

			####Will I need advice from a lawyer to review the documentation with NUMA?

			The contractual arrangements with NUMA have been drafted by lawyers and several batchs of start-ups have already entered them. Hence we would recommend that you don’t spend too much time or money with this. Naturally if your governance arrangements requires it or if you’d be more comfortable having them reviewed by a lawyer, any partnering law firms could provide you with independent advice.

			####What if I’m not happy with the acceleration program?

			It’s fine for both of us if you decide to quit the program within the first 3 weeks. Indeed, during that time, both sides (NUMA or you) can unilaterally end up the acceleration protocol and this without cause or compensation.

			###After the program
			 
			####Can I attend NUMA’s workshops, tutorials and mentor sessions after the program?

			Absolutely. Start-ups accelerated at NUMA now have access for life to all educational resources or events designed for start-ups. 

			####What are my financing options after the program? 

			NUMA provides you with 25.000€ financial support to help you get things started. Most likely you’ll need additional funding after the program. On average 65% of our start-ups raise funds after the demo day. Since 2013, the round table of our graduating start-ups amount to 500k€ on average and our closed 8 months after program.

			####Will NUMA help me raise funds?

			Naturally. This is part of our role. Specific workshops are planned during the program to help you understand how to raise funds. We also organised meetups with investors to make sure you get exposed to them. 

			Our Investment Team will also sit down with you to review your financing options and guide you on the best way forward. 

.centerthis.clearfix =link_to 'Apply Now', "https://www.f6s.com/numaparis", :class => 'btn btn-lg btn-apply center-block', :target=> '_blank'