---
title: "The FAQ"
description: "Freqvently asked questions"
date: 2015-11-05 12:47
tags: Faq, important, startups
public: true
alternate: false
ogp:
  og:
    image:
      '': http://mariusnedelcu.com/images/2015-08-17-qu-font-golden-section/c_A.png
      type: image/png
      width: 992
      height: 525
---
.col-md-push-1.col-sm-10.toppad
	markdown:
		#FAQ Acceleration program

		##What does NUMA provide? 

		In exchange for a 5% equity stake, each start-up participating in the 4-month program will benefit from:
		Weekly one-to-one meetings with an Entrepreneur in Residence
		Open access to 150 experienced mentors, entrepreneurs and industry experts
		Indefinite access to NUMA’s workshops, tutorials and resources
		PR exposure through NUMA’s corporate events and communication materials
		Connections to investors through the Demo day and other investor meet-ups
		Qualified introductions to our corporate partners: BNP Paribas, Cisco, Google for Entrepreneurs, Orange, l’Atelier BNP Paribas, SNCF and Atalanta network
		Introductions to NUMA’s international network of alumni, partnering accelerators and foreign offices (currently India, Russia and Morocco)
		4-month free office space for up to 3 people
		More than 70 perks including free consultations with partnering accounting and law firms

		###The face value of these services amounts to approximately 50k€ per start-up. 
		In addition to these acceleration services, **NUMA provides a financial support of 25,000€** to start-ups when they join the program.
		 
		###What are the most famous start-ups that graduated from NUMA’s acceleration program?
		We’ve accelerated a number of great businesses since starting so it’s hard to choose! Some of our renowned start-ups include Mesagraph, Sketchfab, DocTrackr, Bankin’, Zéro-Gâchis, Qunb, Artips, Lima, Agriconomie, Trip’n’drive, Inifinit, Augment, Julie Desk, Soundsgood and Deepomatic.
		 
		###What kind of startups are you going to choose?
		Our acceleration program is multi-industries. In term of stage, see answer below. In term of markets, we are industry-agnostic.

		###We feel we’re more advanced than other start-ups. Will we still get something out of the program?
		We help startups all along their journey to their Series A. Whether they are in the product design phase, market testing it, growing their client or use base or even looking for angel or VC funding. A number of startups already had a fully developed products or generated revenues when they joined our program. We work with them on their go-to-market strategy, business model, make qualified introductions to our network or advise them on their funding strategy.

		No matter where you’re starting from, you should extract significant value from the program.
		 
		###We’ve been accepted into a parisian incubator at the same time as NUMA’s program. Do we have to give up this opportunity or do you accept teams who work from another location?
		If your project need access to specific material (Fab Lab..), this is totally understandable. However, to benefit from all NUMA opportunities : visit, pitches, introductions, we strongly recommend to be in NUMA building full time.  As a minimum, we require you to be available to attend a few key events during the week: Monday morning scrum, EiR and mentor weekly meetings, partner’s day and speed dating with our corporate partners. 

		 
		###Do I have to be in Paris during the entire acceleration program?
		Yes, we require you to be in Paris. Much of the program’s value hinges on your presence in town to attend events organised for you (scrums, coaching sessions, speed-dating with corporates…). Being physically close to NUMA will also allow you to leverage all the informal opportunities with our mentors, alumni, corporate partners, angel or VC funds which visit NUMA from time to time. 
		For this season, the program is starting approx. mid February 2016, to finish end of June 2016.
		 
		###I’m not French; can you help with Visa issues?
		Sorry, visa procedures are outside our field of competence! However we can introduce to you to dedicated public or private contacts that can help you on this matter. 
		If anyone on your team requires a visa for their 4-month stay in Paris you should start your visa application procedures as soon as your participation is confirmed. 

		###What is the Demo day?
		The Demo Day is the last event of the acceleration program. Where you’ll be provided with the opportunity to present your start-up to a large panel of investors, corporates and journalists. Our last demo-day was hosted salle Gaveau and gathered 500 influential professionals, including in excess of 100 angel or VC funds. Dedicated meet-up and personal introductions to investors are also part of the program, if we all agree that you are ready to raise funds.

		###Does my company need to be incorporated before joining the program?
		No, your company doesn’t need to be incorporated to join NUMA. This won’t influence in any way your application. Your company’s incorporation can be done at any point in time during the first 2 months of the program. Partnering law firms will be able to assist you with the paperwork. 

		However please note that NUMA’s 25.000€ can’t be provided until your start-up is legally set-up.

		###Who are the mentors ?
		We are working with a network of 150 mentors : web entrepreneurs, industries experts, specialists (6 families of expertises : business, funding, product, UX, marketing, HR), it can be well-known entrepreneurs coming here sitting with you and sharing their knowledge during CEO lunches as Ludovic Le Moan, founder of Sigfox, or Antoine Brenner, founder of Gymglish, Cédric O'Neill, founder of 1001 Pharmacies, or Xavier Zeitoun, founder of Zenchef, but also recognized professionals as Guillaume Cabane, Olivia Fox, Félix Motosso, Sophie Pellat, Xavier Pourcines.. Well name dropping does not make sense, the thing is that we look for the right people in a very various field, with a selective approach, and the match is up to you.

		###What is a technical partner?
		We have +70 startups and corporates offers and promotions, sometimes exclusive, just for you and because we're NUMA. It can be having free pictures with fotolia, free cloud with Amazon, HR recruitment platform services… etc. All startups agree : this is a huge save of time and money.

		##Selection process

		###How the selection is done?:
		We are evaluating your project, with more than 150 experts around the world, based on your F6S submitted questionnaire. Only fully implemented applications are evaluated. A global appreciation, based on all aspects of your project, is provided through at least 3 different evaluators, to establish a score that allow you to assist to one-to-one semi-finals, then finals. We are in the process to select between 15 and 20 startups for this season, according to quality of applications. 

		###Dates
		**Application period**
		6th Nov 2015 - 15th Dec 2015
		You have one month to fill in the application form on F6S, we don't start the evaluation process until applications are closed.

		**Semi-finals**
		**5th-9th January 2016**
		During the semi-finals you'll be invited to pitch in front of a jury of experts that will ask challenging questions about your project and your team.
		You'll have 5 minutes to pitch and 10 minutes for the Q&A. 
		We prefer to meet you in person at NUMA Paris, we can arrange a video-conference meeting, but keep in mind that connection problems and audio quality can end up impacting the presentation.
		Startups usually get their results within three days. 

		###Formal agreement
		If you've made it through the semi-finals, along with our sincere congratulations you'll receive an agreement detailing the program's conditions and a bunch of legal documents regarding our future partnership. We'll need to know if you’re ok with the terms and conditions before we move on to the finals.

		###Finals
		**18th-19th January 2016**
		During the finals the jury will dig a bit deeper, you'll have 10 minutes to talk about your startup and 15 minutes for the Q&A.
		We usually select between 12 and 22 startups in this last phase, the results are delivered within a couple of days.

		**Kickoff: Mid february**
		Demo day : June

		###I’m a single founder. Can I still get accepted into NUMA, or do you only look for teams?
		Although the selection process isn’t narrowed to that single criteria, the team plays an important role in our evaluation. NUMA is looking for great teams with talented founders who have, or can attract, the core skills their businesses will need to be successful. 

		Finding the right cofounder can take a while and we don't want you to spend the short time you have with us doing recruitment or trying to find a partner: our job is to accelerate your business and we cannot do it unless the basic components are in place. 
		We've seen too many well-meaning entrepreneurs with great potential completely stuck with their project simply because no one could execute on decisions or burned out from carrying too much responsibility on their own.

		If you're solo, take this as your first challenge: persuade someone that you're an excellent business partner and that your project has great potential. If you can't do that, how will you persuade your customers? If you’re not ready yet take these months ahead of the next season to solidify your founding team, NUMA is here to stay and there will always be another chance. 

		###I’m concerned that if I apply, you won’t protect my intellectual property. Should I be worried about this?
		No you shouldn’t. NUMA is committed to protecting the confidentiality of the applications it receives. Rest assured, we have no interest in sharing your application with non-evaluating parties. 

		###Do we need to write a business plan?
		No, you don’t have to write a business plan. All you have to do is to complete the F6S application form. You’ll have to fill out information about your business, the team, the market…

		##Agreement with NUMA

		###How much does the acceleration program cost?
		The acceleration program is free and provided to you in exchange for a 5% equity stake in your company. It includes mentoring, access for life to our workshops and tutorials, office space for up to 3 people, access to our events and a financial support of 25.000€. Please refer to apply.numa.co for a full list of the program’s benefits.

		###Do you take a 5% equity to all start-ups regardless of their valuation?
		Yes. The terms of our NUMA’s investment and support are standard and apply to all participating start-ups.

		###What are the terms of NUMA’s financial support?
		NUMA’s financial support is provided by way of shareholder loan. This financial support:
		Interest free ;
		Non recourse to the founders in case of failure ;
		Non-reimbursable for an initial period of 18 months ;
		Convertible in shares in context of a capital increase if both parties wish to do so ; OR
		Reimbursable over 18 months after the initial 18 months.

		###How does NUMA take 5% in the start-ups accelerated?
		NUMA acquires its equity stake from the founders at the shares’ nominal value. 

		###Why acquiring shares and a shareholder loan and not invest through a traditional capital increase?
		Acquiring shares, as opposed to a standard capital increase, first allows you not to create any valuation reference for your company which can stir significant debate if you have external shareholders.

		More importantly, the mechanics of the share acquisition and shareholder loan, bypasses tedious and costly administrative procedures required under French corporate law : 
		A standard capital increase typically costs a minimum of 2.000€ in legal fees and registration procedures ;
		Valuating the program, which is offered to the start-ups and part of our investment in your company, would need the intervention of an independent expert (“Commissaire aux apports”) which would cost an additional 5.000€.

		Considering NUMA’s 25.000€ financial support, this would significantly dilute the potential impact of this envelop on your business.

		###Do I have to accept NUMA’s financial support?

		No, obviously you are free not to take NUMA’s financial support. This money is here to help you get things started. If you believe that your start-ups doesn’t need it, by all means don’t use it.

		###My company is based in the US. Can NUMA invest through a traditional capital increase?

		Unfortunately not. We have to provide fair and equal investment terms to all of the start-ups it accelerates.

		###Will I need advice from a lawyer to review the documentation with NUMA?
		The contractual arrangements with NUMA have been drafted by lawyers and several batchs of start-ups have already entered them. Hence we would recommend that you don’t spend too much time or money with this. Naturally if your governance arrangements requires it or if you’d be more comfortable having them reviewed by a lawyer, any partnering law firms could provide you with independent advice.

		###What if I’m not happy with the acceleration program?
		It’s fine for both of us if you decide to quit the program within the first 3 weeks. Indeed, during that time, both sides (NUMA or you) can unilaterally end up the acceleration protocol and this without cause or compensation.

		##After the program

		###Can I attend NUMA’s workshops, tutorials and mentor sessions after the program?
		Absolutely. Start-ups accelerated at NUMA now have access for life to all educational resources or events designed for start-ups. 

		###What are my financing options after the program? 
		NUMA provides you with 25.000€ financial support to help you get things started. Most likely you’ll need additional funding after the program. On average 65% of our start-ups raise funds after the demo day. Since 2013, the round table of our graduating start-ups amount to 500k€ on average and our closed 8 months after program.

		###Will NUMA help me raise funds?
		Naturally. This part of our role. Specific workshops are planned during the program to help you understand how to raise funds. We also organised meetups with investors to make sure you get exposed to them. 

		Our Investment Team will also sit down with you to review your financing options and guide you on the best way forward. 