---
title: "How to Apply Successfully"
description: "All you need to know to successfully aply for startup acceleration at NUMA"
date: 2015-11-05 12:47
tags: 'Faq, selection, startups, application'
public: true
alternate: false
ogp:
  og:
    image:
      '': http://mariusnedelcu.com/images/2015-08-17-qu-font-golden-section/c_A.png
      type: image/png
      width: 992
      height: 525
---
.col-md-push-1.col-sm-10.toppad
	markdown:
		#NUMA Accelerator: How to Apply Successfully

		So you think you have a great project and you want to be accelerated at NUMA, here is a complete guide on how to apply successfully through the application platform:

		##Using F6S
		**F6S can be tricky to use, but remember this:**

		- Your form is automatically saved with every change. Don't believe it? Look at the top left corner of the page after you make a change, you can always come back and finish it later.

		- If you get lost hit the home link then go to Groups > Numa Season 8 (it's in the left sidebar)

		- It's almost guaranteed that you'll miss something the first time you Submit the application, F6S tells you what information is missing, but if you have trouble finding it remember that the missing fields may be inside some of your teammates profiles

		- You are allowed to fill in the personal fields of your teammates, provided that they know what you’re doing :-)

		###How to apply to a startup accelerator successfully

		Want to know how to hit the spot with your accelerator application? Here are the dos and don'ts, the frequent mistakes and tips on how to answer the trickiest questions.

		Once you read this not only you'll improve your odds of getting into NUMA, chances are you'll also have a better shot at any other startup accelerator.

		###Take your time
		The first rule is: don't rush it. If it's your first time, the application questionnaire will require some serious thinking and discussion with your team: print out the questions, fire up the coffeemaker and gather your companions around the whiteboard.
		Evaluators can easily tell when an application has been thrown together in a haste by the CEO or copy/pasted from some generic slide deck. 
		This is a collaborative effort, some questions require each founder to answer individually, make sure you set aside some time to work on it, we guarantee it'll be worth it. Depending on whether you’ve applied to an accelerator before or not filling in this application may require anywhere from three hours to one week.

		###English
		We only accept applications submitted in English as some of our evaluators do not speak other languages.

		**Team, team, team**

		<https://www.youtube.com/watch?v=gdlAs9g2udM>


		##Did we say team already? Team!

		The quality of the team is the most important factor in deciding whether we'll be working with you or not, here’s a rundown of questions, why we ask them and tips on how to answer them.


		###Team video
		First off: if you’re not a pro of video-making, don’t waste your time trying too hard to become one now, we assure you it is not necessary, what we look at is not the quality of your directing, lightning or acting skills, we just look at you as individuals with a passion and a team working towards a common objective.
		There’s just one important thing to be said about quality: make sure the audio is understandable. In fact we recommend you send the video link to someone outside your team and ask them to repeat what you said in the video, just to make sure you didn’t just waste an hour of your time.
		Limit the video to 1-2 minutes.

		**Here’s a video example from one of our alumni**
		https://www.youtube.com/watch?v=gE6kGoWitaE&feature=youtu.be

		###Tell us about your team and why it's a great team for this project.
		Here we're trying to get an idea of your team as a system.  The questions we ask ourselves are: have they already worked together and how well do they know each other? How experienced are they in their respective fields?  Do their skills match the project’s challenges? Are the roles clearly defined and is there a natural leader? 

		###How did you determine the equity distribution among cofounders? 
		Rather than a simple question, this is an exhortation to have the most uncomfortable conversation with your team while you're still in time. It's better to get rid of the elephant in the room now to make sure you're building a business on solid foundations.

		The questions we're really answering here are: does each member hold an amount of shares proportional to his future role, contribution and responsibilities? How could equity distribution reveal or impact personal involvement in the project?

		Even if your company is not incorporated yet, you'd probably better lay all cards on the table now and be honest about what's expected of each member and what they'll get in return. We've seen bad breakups happen after months of hard work because of misaligned personal assumptions cofounders had about how much value they brought to the project. 

		###Why did you start/join this project? What drives you?
		The why can be more important than the what. While your market and your product can easily change during the lifetime of your business, your motivations rarely do.
		What we try to understand here is what makes you tick, the hidden force underlying your actions.
		Don't make the mistake of thinking that some reasons are better than others: some entrepreneurs do it for the challenge of solving complex problems, some hunger for knowledge, some others out of a sense of social justice, some just out of rebellion or to prove everyone else wrong. All of these are equally good reasons and can function as the fuel that gets you through the perils of Startupland. Apply some introspection and dig out your own answer, this question needs to be answered individually by each founder. Once you've done that, try this: compare your answer with the ones of your cofounders: can your individual motivations align for a common goal?

		####Some sample answers:
		> “To be honest, one of the reasons I did the MBA was to take a break from corporate life. Having developed this project with Justin, I believe in its potential and have enjoyed the multi-disciplinary, roll-your-sleeves-up approach required to launch a startup. Its success is very important not only in terms of the personal challenge of testing my capabilities to execute a project and effectively run a business, but also because I much prefer working this way compared to corporate life!”

		> “For two years in humanitarian missions, I’ve seen kids dying in front of me because of bad water. It’s the most heartbreaking thing I know. In an age where people routinely fly in space, there is no good reason why this is still happening.”

		> “As a graphic designer, I wish e-reading would provide a better experience for users. Contemporary hardware is awesome, but no one seems to care about design and comfort when programming reading applications. I want to improve the quality of the reading experience on device so that people could read more around the world.”

		###Tell us something you're proud of: for example an achievement of yours, a clever feat or something that shows your resourcefulness or creativity.
		One of our favourite questions because the answers are often both fun and revealing. We're looking for a sparkle of genius or that thing you did which shows you're not one to give up when faced with a difficult situation.
		An entrepreneur that displays lateral thinking or is relentless in pursuing his/her goals in spite of hardships is someone who strikes us as a great candidate. Try this: have each founders write down a personal answer and see if you spot similarity or complementarity in your approach.

		####Here’s a few samples:
		> “I infiltrated an English gang of hooligans while working on a piece for a magazine!”

		> “I spent 42 hours in front of a sewing machine non stop without sleeping just for the sake of delivering an order on time.”

		> “I honed my creativity at McDonalds where I was pushing boundaries in an effort to do things faster and better. I quickly figured out how to cut the standard hamburger-making time from 70 seconds to under 45 seconds without losing quality, by juggling the order of cooking the bun and the meat.”

		> “I once hitchhiked from Kyushu to Tokyo (over 1,200 km) in three weeks with only 5,000 JPY (about 50 USD) in my wallet“

		##Your project
		Pitch your startup in 140 characters or less.
		If you only had a single tweet to explain to the world what you do, how would it read? Here you'll have to exercise your marketing and communication skills to get across your unique value proposition in a nutshell.  

		####Examples:
		> “We partner with water utilities to bring prepaid running water at home to poor urban families in developing nations.”

		> “Corilla is a beautiful publishing tool for technical writers that solves the problem of collaboratively authoring & managing documentation”

		> “StreamRoot is a smart peer-to-peer video streaming technology that reduces by 70% the bandwidth costs for web video platforms”

		###What problem are you solving for your customers?
		Here we look at how well you understand the pain point you're working on alleviating, the depth of your empathy with the customer and your ability to detach yourself from the solution you're building.
		We ask you not to talk about your solution because a common mistake entrepreneurs make is to fall in love with their product or technology and forget that what matters is delivering value to customers, not the means you use. A customer rarely cares about how you solve their problem as long as you do solve it. A solution can rarely fix more than a single problem, but a single problem can be fixed many different ways, that's why we look for people that are good at analysing problems first.
		Tip: your customer's problem is not the lack of your solution. Try asking yourself or your teammates this question: would you still work to solve this problem if you realized you can’t use your current or planned technology and tools ? If the answer is no, you might be too attached to the solution.

		####Example:
		> “Shipping an item is a pretty annoying experience. Shipping lots of stuff to customers everyday can become a nightmare, and logistics a full-time job. A small hardware startup or online seller have 2 options to handle shippings : 1) develop its own logistics process internally (super time-consuming and definitely not scalable if they don’t have the growth of Amazon) or 2) outsource everything to a logistician (complex, minimum volumes required, very costly).  People usually start with the first option before switching to a logistician when they are completed swamped under volumes that keep going up. But switching to a logistician is a very complicated process on top of being super expensive. “

		###Describe the difference between someone who is your early adopter and someone who could be a potential customer at a later stage.
		This question is about market segmentation, your customer knowledge and how far you went into researching what makes a client worth pursuing. Among the factors that determine the choice of your primary target customer, the ones we look at here are the margin of improvement your solution brings them, potential recurrence, your personal affinity or privileged access to the niche of choice and its profitability. Identify the essential difference between early adopters and that wider audience you might acquire only at a later stage.

		####Example:
		> “Our potential early adopters are professionals that need to ship items on a regular basis. Good examples are hardware startups, marketplaces sellers, online stores, samples companies, local stores starting to sell online. Stores looking only to deliver packages within the same city are not our primary customers, as there is no shipping involved. Individuals could soon be our customers but are not yet targeted, as the recurrence, the volumes and the costs of acquisition are very different from professionals.”


		###What are your advantages and disadvantages compared to your direct or indirect competitors?
		Here we try to understand several things: compare the improvement you solution brings to the customer segment to competing solutions, how crowded the market is, what you've learned from researching it, how likely it would be to build a monopoly. The most common mistake startups make is to say they have no competitors because no-one does exactly what they do: remember it's not **how** you solve the problem, it's the essence of the problem (and possibly the niche) that puts you in the same playing field with competitors, if something solves the same problem in a suboptimal way, it counts as an alternative solution. 
		Even when you have no competitors to name you're still competing with your customer's way of currently dealing with his problem and you'll have to think of what will make them overcome the friction of adopting your solution instead. 
		Pretending competitors don't exist is counterproductive because we'll assume that you either haven't done your research, don't understand what a competitor is or that you think we don't know how to use a search engine, either way it looks bad. If you find it easier to explain your market positioning with a slide you can link to a slide on Slideshare.

		###Do you have any paying customers?
		Don't be scared if you don't, we use this question just to evaluate what stage your startup is at.
		If you do, the good news is that those evaluators that didn't believe the problem you're working on is worth solving are now proven wrong.

		###What’s your current and/or future revenue model?
		If you are to build a sustainable and hopefully profitable business you may have to answer this question sooner or later. We'd like to challenge you to think about this now and show us you're capable of looking at your startup as a self-sustainable system with inputs and outputs, where the value you are capturing is higher than the resources you are expending. 

		###What are some of you current metrics?
		How can you know you're moving in the right direction if you don't have a reference point? Your answer gives us an idea of how mature your business is, but more importantly what indicators you're using to measure progress. Have you heard about the terms vanity metrics? If you haven't, google it.

		###Will you attend the program on-site and full time?
		One of NUMA's main differentiator is the great community, we strongly encourage the core team of your startup to be present at NUMA the whole time of the program, no matter how well your remote coordination skills are, you'd be missing on an essential component of the value proposition.
		With this said, we've worked with distributed teams before, but these are more the exception than the rule. 

		Wow, you read this whole guide! As a reward, let us give you a final, semi-secret tip: recommendations.
		At the end of the questionnaire you'll find a recommendations box, the best type of recommendation you can get is from an alumni of our acceleration program. If you don't know anyone from our previous cohorts, it's a good opportunity to find out more about the program from people who went through it and at the same time get recommended, you can find the list of [alumni here](http://www.numa.paris/Startups/(season)/6) (if you can't find them all, try to view it in the French version).

		That's all folks, good luck with your applications!
		For any further questions please leave a message here below in the commentary so that everyone gets to learn more or come to one of our open meetings: First one is on 18/11/2015. More info to come.